language: node_js
sudo: false
node_js:
- '6.11.0'

cache:
  directories:
     - ./node_modules

install:
  - npm i

before_script:

script:
  - npm test

after_success:
- npm run coverage
- coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
